# Path to your oh-my-zsh configuration.
ZSH=$HOME/.oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME={{ if eq .chezmoi.os "linux" }}"bira"{{ else }}"robbyrussell"{{ end }}

# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# Set to this to use case-sensitive completion
# CASE_SENSITIVE="true"

# Comment this out to disable bi-weekly auto-update checks
DISABLE_AUTO_UPDATE="true"

# Uncomment to change how often before auto-updates occur? (in days)
# export UPDATE_ZSH_DAYS=13

# Uncomment following line if you want to disable colors in ls
# DISABLE_LS_COLORS="true"

# Uncomment following line if you want to disable autosetting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment following line if you want to disable command autocorrection
# DISABLE_CORRECTION="true"

# Uncomment following line if you want red dots to be displayed while waiting for completion
# COMPLETION_WAITING_DOTS="true"

# Uncomment following line if you want to disable marking untracked files under
# VCS as dirty. This makes repository status check for large repositories much,
# much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
plugins=(
{{ if eq .chezmoi.os "linux" }}    ubuntu
{{ end }}
    you-should-use
    git
    git-extras
    git-flow
    pyenv
    pip
    python
    history-substring-search
    colored-man-pages
    command-not-found
    zsh-interactive-cd
    timer
    zsh-navigation-tools
    wd
    z
    colorize
    dirhistory
    extract
    fzf
    gh
    dotenv
{{ if eq .chezmoi.os "darwin" }}
    ssh-agent
    gpg-agent
    keychain
    brew
{{ end }}
    ) #django pip


zstyle :omz:plugins:ssh-agent lazy yes
{{ if eq .chezmoi.os "darwin" }}zstyle :omz:plugins:keychain agents gpg,ssh{{ end }}

source $ZSH/oh-my-zsh.sh

# Customize to your needs...

ZSH_COLORIZE_CHROMA_FORMATTER=terminal256
ZSH_COLORIZE_STYLE="monokai"

autoload -U zsh-mime-setup
zsh-mime-setup
DEBIAN_PREVENT_KEYBOARD_CHANGES=yes
alias mimuw='ssh mimuw'
alias mimuw_mount='sshfs mimuw: ~/zdalne_mimuw/'
alias mimuw_unmount='fusermount -u ~/zdalne_mimuw/'
alias remote_unmount='fusermount -u ~/zdalne/'
alias mimuw_key='ssh-add -t 360s ~/.klucze/mimuw'
{{ if eq .chezmoi.os "linux" }}alias aktualizuj="sudo apt-get update && sudo apt-get dist-upgrade"{{ end }}
alias orzel-proxy='ssh -C2qTnN -D8080 ws-orzel'
{{ if eq .chezmoi.os "linux" }}alias bat=batcat{{ end }}
alias mdview=frogmouth
alias pip="noglob pip"
alias pipx="noglob pipx"

alias students-proxy='ssh -C2qTnN -D8080 students'

zstyle ':mime:.tex:' handler vim %s
zstyle ':completion:*:*:(^rm):*:*files' ignored-patterns '*?.o' '*?.c~' '*?.old' '*?.pro'

# added by pipx (https://github.com/cs01/pipx)
PATH="${HOME}/.local/bin/:${PATH}"

# Adding cargo bin
PATH="${HOME}/.cargo/bin:${PATH}"
export PATH

eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

export JUPYTER_DATA_DIR=$HOME/jupyter
export JUPYTER_RUNTIME_DIR=$HOME/jupyter

eval "$(atuin init zsh --disable-up-arrow)"
eval "$(chezmoi completion zsh)"
eval "$(register-python-argcomplete pipx)"
