#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
echo "Install fzf"
sudo apt install fzf zsh pipx zlib1g zlib1g-dev libssl-dev libbz2-dev libsqlite3-dev
pipx install argcomplete

FILE=$HOME/.zprofile
FILE2=#HOME/.profile
LINE=PYENV_ROOT

if [ ! -f "$FILE" ] || ! grep -q "$LINE" "$FILE"; then

echo 'export PYENV_ROOT="$HOME/.pyenv"' >> $FILE
echo 'export PATH="$PYENV_ROOT/bin:$PATH"' >> $FILE
echo 'eval "$(pyenv init --path)"' >> $FILE

echo 'export PYENV_ROOT="$HOME/.pyenv"' >> $FILE2
echo 'export PATH="$PYENV_ROOT/bin:$PATH"' >> $FILE2
echo 'eval "$(pyenv init --path)"' >> $FILE2

fi


{{ else if eq .chezmoi.os "darwin" -}}
brew install fzf
{{ end -}}
